<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Loggin</title>

    <!--<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(panelprincipal)">-->
  </head>

  <body>
    <div >
      <section class="encabezado" > <!-- Encabezado de loggin-->
          <h4> Control de Inventario Fijo EISLA </h4>
          <img src="assets/img/Elkay.png" class="encabezadoimagen">
          </section>           
  </div> 
    <!--Panel desplegable-->
    <div id="sidemenu" class="menu-collapsed">
      <!--HEADER-->
      <div id="header">
        <div id="title"><span>Home Eisla</span></div>
        <div id="menu-btn">
          <div id="photo">
            <img src="assets/img/Grupo 1.png" alt="" />
          </div>
        </div>
      </div>
      <!--PROFILE-->
      <div id="profile">
        <div id="photo">
          <img src="assets/img/Icon awesome-user-circle.png" alt="" />
        </div>
        <div id="name"><span>Bienvenido</span></div>
      </div>
      <!--ITEMS-->
      <div id="menu-items">
        <div class="item">
          <a href="/panel-principal">
            <div class="icon">
              <img src="assets/img/Icon awesome-home.png" alt="" />
            </div>
            <div class="title"><span>EISATLA</span></div>
          </a>
        </div>
        <div class="item separator"></div>
        <div id="menu-items">
          <div class="item">
            <a href="/personal-control">
              <div class="icon">
                <img src="assets/img/Icon simple-roots.png" alt="" />
              </div>
              <div class="title"><span>Usuarios</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="/registro-equipo">
              <div class="icon">
                <img src="assets/img/Icon material-done-all.png" alt="" />
              </div>
              <div class="title"><span>Asignacion de Equipo</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="">
              <div class="icon">
                <img src="assets/img/Icon awesome-piggy-bank.png" alt="" />
              </div>
              <div class="title"><span>Inventario</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="">
              <div class="icon">
                <img src="assets/img/Icon awesome-pager.png" alt="" />
              </div>
              <div class="title"><span>Reportes</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="">
              <div class="icon">
                <img src="assets/img/Icon awesome-codepen.png" alt="" />
              </div>
              <div class="title"><span>Departamentos</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="">
              <div class="icon">
                <img src="assets/img/Icon material-security.png" alt="" />
              </div>
              <div class="title"><span>Caseta de Vigilancia</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
      </div>
    </div>
    <div></div>
  </body>
  </html>