<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
</head>

<body>
    <div >
        <section class="encabezado" > <!-- Encabezado de loggin-->
            <h4> Control de Inventario Fijo EISLA </h4>
            <img src="assets/img/Elkay.png" class="encabezadoimagen">
            </section>
            <section class="form-login" >
            <img src="assets/img/Elkay.png" class="imagelogin">
              <h5> Inicio de Sesíon</h5>
              <input  class="controls" type="email" name="usuario" value="" placeholder="Direccion de Correo"/>
              <input class="controls1" type="password" name="contrasena" value="" placeholder="Contraseña"/>    
              <!-- <a routerLink="panel-principal"><input class="buttons" type="submit" name="" value="Ingresar" id="id"></a> 
              https://getbootstrap.com/docs/5.1/forms/floating-labels/-->   
              <button class="buttons" type="button" (click)="goToRuta2()" > Ingresar</button>
       </section>  
    </div> 
</body> 
</html>