<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Loggin</title>

    <!--<link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(panelprincipal)">-->
  </head>

  <body>
    <div>
      <section class="encabezado">
        <!-- Encabezado de loggin-->
        <h4>Control de Inventario Fijo EISLA</h4>
        <img src="assets/img/Elkay.png" class="encabezadoimagen" />
      </section>
    </div>
    <!--Panel desplegable-->
    <div id="sidemenu" class="menu-collapsed">
      <!--HEADER-->
      <div id="header">
        <div id="title"><span>Home Eisla</span></div>
        <div id="menu-btn">
          <div id="photo">
            <img src="assets/img/Grupo 1.png" alt="" />
          </div>
        </div>
      </div>
      <!--PROFILE-->
      <div id="profile">
        <div id="photo">
          <img src="assets/img/Icon awesome-user-circle.png" alt="" />
        </div>
        <div id="name"><span>Bienvenido</span></div>
      </div>
      <!--ITEMS-->
      <div id="menu-items">
        <div class="item">
          <a href="/panel-principal">
            <div class="icon">
              <img src="assets/img/Icon awesome-home.png" alt="" />
            </div>
            <div class="title"><span>EISATLA</span></div>
          </a>
        </div>
        <div class="item separator"></div>
        <div id="menu-items">
          <div class="item">
            <a href="/personal-control">
              <div class="icon">
                <img src="assets/img/Icon simple-roots.png" alt="" />
              </div>
              <div class="title"><span>Usuarios</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="/asignacion-de-equipo">
              <div class="icon">
                <img src="assets/img/Icon material-done-all.png" alt="" />
              </div>
              <div class="title"><span>Asignacion de Equipo</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="/registro-equipo">
              <div class="icon">
                <img src="assets/img/Icon awesome-piggy-bank.png" alt="" />
              </div>
              <div class="title"><span>Inventario</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="/reportes-equipo">
              <div class="icon">
                <img src="assets/img/Icon awesome-pager.png" alt="" />
              </div>
              <div class="title"><span>Reportes</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a href="">
              <div class="icon">
                <img src="assets/img/Icon awesome-codepen.png" alt="" />
              </div>
              <div class="title"><span>Departamentos</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
        <div id="menu-items">
          <div class="item">
            <a (click)="goToRutaGuard()">
              <div class="icon">
                <img src="assets/img/Icon material-security.png" alt="" />
              </div>
              <div class="title"><span>Caseta de Vigilancia</span></div>
            </a>
          </div>
          <div class="item separator"></div>
        </div>
      </div>
    </div>
    <h2 class="text-center">Registro de Entrada y Salida de Personal-Equipo</h2>
    <div id="element1">
      <h6 class="text-center" type="submit" (click)="mostrarRegistros()">
        Registrar
      </h6>
    </div>
    <div id="element2">
      <h6 class="text-center" type="submit" (click)="mostrarLista()">Lista</h6>
    </div>
    <div></div>
    <h1 class="basica2"></h1>
    <div class="lineasdereg"></div>
    <section class="container" id="Muestra">
      <h6 class="h6s"><b>Nuevo</b></h6>
      <h1><h6 class="text-center">Escanear Codigo QR</h6></h1>
      <h4>
        Ingresa Código &nbsp;
        <div class="col-sm-3">
          <label class="visually-hidden" for="autoSizingInput">Name</label>
          <input
            type="text"
            class="form-control"
            id="autoSizingInput"
            placeholder="Codigo.."
          />
        </div>
      </h4>
      <div class="codigoqr"></div>
      <div class="imagen">
        <img
          class="img-centro"
          src="assets/img/Icon material-add-a-photo.png"
          alt=""
        />
      </div>
    </section>
    <p></p>
    <div class="card w-75" id="tabla">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h3>Equipo Registrado</h3>
        <a type="submit" class="btn btn-dark float-right">Generar Reporte</a>
      </div>
      <div class="card-body text-center">
        <section>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">N.lista</th>
                <th scope="col">Nombre</th>
                <th scope="col">Equipo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Hora de registro</th>
                <th scope="col">Estauts</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let pd of service.list; let index = index">
              <th cope="row" ><img src="assets/img/Icon material-computer.png" alt="" />{{ index + 1 }}</th>
              <th>{{ pd.equipmentId }}</th>
              <td>{{ pd.name }}</td>
              <td>{{ pd.model }}</td>
              <td>{{ pd.nserie }}</td>
              <td>{{ pd.category }}</td>
              <td>
                <a [href]="fileUrl" download="QRCode.txt">
                  <qrcode
                    #codigoqr
                    [qrdata]="'' + pd.equipmentId"
                    [size]="256"
                    [level]="'M'"
                  ></qrcode>
                </a>
              </td>
              <td>{{ pd.imei }}</td>
              <td>{{ pd.equipmentstock }}</td>
              <td><a href="/registro-equipo">ver codigo</a></td>
              <!--omtimos caractristicas <td>{{ pd.allasigned }}</td>
                   <td>{{pd.carctetis}}</td>-->
              <!--<td>
                <i
                  type="submit"
                  (click)="populateForm(pd)"
                  class="fas fa-pen"
                ></i
                >&nbsp;&nbsp;&nbsp;&nbsp;<i
                  type="submit"
                  (click)="onDelete(pd.equipmentId)"
                  class="fas fa-trash"
                ></i>
              </td>
            </tr>-->
              <!--<td colspan="2">Larry the Bird</td>-->
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </body>
</html>
