
p{
  margin-top: 2rem;
  margin-left: -9rem;
  margin-right: -9rem;
  padding: 1rem;
  background-image: url("/la/url/de/la/imagen.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -3rem;
}
h3 {
  font: bold 120% Arial;
  line-height: 200%;
  color: rgb(12, 12, 12);
  margin-left: -5rem;
  margin-right: -12rem;
  margin-top: -8rem;
}

.colorusuarios {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;
}
.colorloggin {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-top: 9rem;
  margin-left: 7rem;
  margin-right: 200rem;
  padding: 10rem;
  
  background-image: url("/la/url/de/la/imagen.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.encabezado {
  border-top: 50px solid black;
  background-color: black;
  margin-top: 0rem;
  padding: 1rem;
}
.boton {
  border: 1px solid rgb(110, 16, 16);
  background-color: rgb(32, 20, 20);
  margin-top: 6rem;
  margin-left: -9rem;
  margin-right: -9rem;
  padding: 1rem;
  background-image: url("/la/url/de/la/imagen.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.form-login {
  font: bold 120% Arial;
  width: 340px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  margin-top: 130px;
  box-shadow: 7px 13px 10px rgb(0, 0, 0);
  padding: 30px 30px;
  color: rgb(5, 5, 5);
}
.form-login h5 {
   margin: 0;
   text-align: center;
   height: 40px;
   margin-bottom: 30px;
   background-color: rgb(255, 255, 255);
   font-size: 20px;
   
}
.controls {  
  width: 100% ;
  border: 2px solid #707070;
  margin-bottom: 35px;
  padding: 11px 15px;
  background: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  border-bottom: 5px solid black;
  
}
.buttons {
  width: 100%;
  height: 40px;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
  
}
